body {
    background-color: rgb(0, 0, 31);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main {
    text-align: center;
    border: white 5px solid;
    border-radius: 10px;
    width: 550px;
    height: 650px;
    margin-top: 140px;
    background-color: darkblue;
}

main h1 {
    text-transform: uppercase;
}

main span, button {
    margin: 30px 0;
}

button {
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;

}

#dadoscomp {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 0 40px;

}
#dadosjog {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 0 40px;

}

img {
    margin: 6.5px 0 0 10px;
}

#dadoscomp img:first-child {
    margin-left: 0;
}

#dadosjog img:first-child {
    margin-left: 0;
}

#result {
    margin: 60px 10px 0 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    
}